/* header, tools bar */
.headerContainer {
  display: flex;
  margin: 20px 70px 0 70px;
  line-height: 70px;
  justify-content: space-between;
}
.siteIconWrapper {
}

.siteIconWrapper span {
  font-size: 50px;
}
.siteIconWrapper img {
  display: inline-block;
  width: 100px;
  position: relative;
  top: 14px;
}

.navWrapper {
  font-size: 20px;
}

.navUl {
  justify-content: space-around;
  display: flex;
  width: 600px;
}
.navUl li {
  cursor: pointer;
  padding: 5px 5px;
}
.navUl li:hover {
  text-shadow: 0 0 0.65px #000;
}

.triangle::after {
  display: block;
  content: "";
  border-width: 10px 6px 6px 6px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
  position: absolute;
  left: 74px;
  top: 45%;
}

.dropdownIcon {
  width: 40px;
  transform: rotate(90deg);
  position: relative;
  top: 13px;
  left: -15px;
  z-index: -1;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.loginWrapper {
  line-height: 80px;
  user-select: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content p {
  padding: 0 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.loginBtn {
  font-size: 20px;
  cursor: pointer;
}

.registerBtn {
  color: #fff;
  padding: 5px;
  border-radius: 9px;
  position: relative;
  top: -2px;
  margin-left: 15px;
}

#appearanceIconWrapper {
  margin-left: 20px;
  display: inline;
  cursor: pointer;
  font-size: 20px;
}
.ri-sun-fill::before,
.ri-moon-fill::before {
  display: inline-block;
}
#appearanceIconWrapper:hover .ri-sun-fill::before {
  animation: spin 5s linear infinite;
}
#appearanceIconWrapper:hover .ri-moon-fill::before {
  animation: swing 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* header, tools bar end */
