.homePageContent {
  height: calc(100vh - 187px);
  display: flex;
  justify-content: space-between;
  margin: 0 30px 100px 30px;
}

.inputContainer {
  margin-top: 80px;
  max-width: 50%;
}

.homePageLogo {
  max-width: 500px;
  height: auto;
  position: relative;
  left: -70px;
}

.homePageDesc {
  margin-left: 50px;
  font-size: 30px;
  margin-bottom: 20px;
}

.inputWrapper {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.nameInput {
  padding-left: 20px;
  height: 46px;
  font-size: 26px;
  max-width: 33%;
  border-radius: 15px;
  border: 1px solid #afafaf;
}

.nameInput::placeholder {
  color: #afacac;
  font-weight: 100;
  opacity: 1;
  /* Firefox */
}

.checkBtn {
  color: #fff;
  height: 50px;
  padding: 5px 30px;
  border-radius: 30px;
  font-size: 18px;
}

.mapImgWrapper {
  width: 50%;
  position: relative;
}

.worldImg {
  z-index: -1;
  transform: scale(1.25);
  position: relative;
  left: -80px;
  top: 100px;
  width: 100%;
}

/* other tools section start */
.otherToolSection {
  height: 100vh;
  background-image: url("../images/half-globe.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #38423a;
}

.otherToolTitle {
  color: #fff;
  text-align: center;
  font-size: 38px;
  padding-top: 80px;
  margin-bottom: 80px;
}

.otherToolsContainer {
  display: flex;
  justify-content: space-around;
}

.otherToolsItem {
  border: 1px solid #fff;
  height: 50vh;
  width: 22vw;
  background-color: #38423a;
  position: relative;
  border-radius: 10px;
}

.otherToolsItem h3 {
  font-size: 22px;
  text-align: center;
  color: #fff;
  margin: 30px;
}

.otherToolsItem p {
  text-align: center;
  color: #fff;
  margin: 30px;
  font-size: 20px;
  line-height: 1.3em;
}

.otherToolTryWrapper {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.otherToolTryBtn {
  background-color: #ffbf00;
  font-weight: bold;
  width: 66%;
  padding: 10px;
  border-radius: 10px;
}

.otherToolTryBtn:hover {
  background-color: #ffea00;
}

/* other tools section end */

/* model popup  start*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  border-radius: 50px;
}

.nameInfoContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: #38423a;
  border-radius: 50px;
}

.fullNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullNameItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullNameItem h1 {
  font-size: 82px;
  font-family: "Cardo", serif;
}

.nameInfoItem {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.nameInfoItem h3 {
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
}

#countryOriginText {
  margin-top: 20px;
}

.nameInfoItem p {
  font-size: 22px;
  color: #fff;
  text-align: center;
}

#scriptText {
  margin-top: 20px;
}

.nameInfoItem img {
  margin-top: 20px;
  width: 160px;
}

#scriptImg {
  width: 100px;
  margin-left: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* model popup  end*/

/* random name */
.randomNameFormContainer {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 30%;
  border-radius: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20%;
}

#randomNameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#randomNameForm>div {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

#randomNameText {
  font-size: 32px;
  color: rgb(56, 66, 59) !important;
}

#randomNameForm h2 {
  margin: 20px 0 10px 0;
}

#randomNameForm select {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  width: 140px;
  background-color: #38423b;
  color: #fff;
  appearance: none;
  position: relative;
  /* background-image: url(../images/triangle.png); */
}

/* select::after {
  content: "▼";
  margin-left: 5px;
} */
.afterSelect {
  position: relative;
}

.afterSelect:after {
  content: "▼";
  font-size: 10px;
  color: #fff;
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

#randomNameSubmit {
  padding: 10px;
  background-color: #691f25;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  width: 200px;
  font-size: 14px;
}

/* sp part model */
.sp_form_wrapper {
  margin-left: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.sp_form_wrapper input {
  margin: 0 5px 20px 5px;
  max-width: 40% !important;
}

.sp_model_container {
  height: 50%;
}

@media screen and (max-width: 600px) {

  .homePageContent {
    flex-direction: column;
  }

  .inputContainer {
    max-width: 100%;
  }

  .mapImgWrapper {
    display: none;
  }

  #nameOrigin {
    display: flex;
    flex-direction: column;
  }

  .otherToolSection {
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    /* Adjust padding as needed */
  }

  .otherToolTitle {
    font-size: 28px;
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .otherToolsContainer {
    flex-direction: column;
    align-items: center;
  }

  .otherToolsItem {
    width: 80%;
    height: 30vh;
    /* Adjust width as needed */
    margin-bottom: 30px;
  }

  .otherToolsItem h3 {
    font-size: 18px;
    margin: 20px;
  }

  .otherToolsItem p {
    font-size: 16px;
    margin: 20px;
  }

  .otherToolTryBtn {
    width: 80%;
  }

  .mapImgWrapper {
    display: none;
  }

  .homePageDesc {
    text-align: center;
  }
}