* {
  margin: 0;
  padding: 0;
  color: #38423b;
  list-style-type: none;
  /* font-family: "YAFdtQi73Xs 0", _fb_, auto; */
}
a {
  text-decoration: none;
}
/* dark mode css */
.dark {
  background-color: #222;
}
.dark * {
  color: white !important;
}
.dark *::after {
  border-color: #fff transparent transparent transparent !important;
}
.dark .dropdown-content {
  background-color: #353434;
}
.dark .dropdown-content p:hover {
  background-color: #4e4d4d;
}
/* dark mode css end */
button {
  background-color: #691f25;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #9a2f38;
}
/* todo dark mode/ */
